
## <summary>policy for blessing</summary>


########################################
## <summary>
##	Transition to blessing.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`blessing_domtrans',`
	gen_require(`
		type blessing_t, blessing_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, blessing_exec_t, blessing_t)
')


########################################
## <summary>
##	Execute blessing server in the blessing domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`blessing_initrc_domtrans',`
	gen_require(`
		type blessing_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, blessing_initrc_exec_t)
')


########################################
## <summary>
##	Search blessing lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`blessing_search_lib',`
	gen_require(`
		type blessing_var_lib_t;
	')

	allow $1 blessing_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read blessing lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`blessing_read_lib_files',`
	gen_require(`
		type blessing_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, blessing_var_lib_t, blessing_var_lib_t)
')

########################################
## <summary>
##	Manage blessing lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`blessing_manage_lib_files',`
	gen_require(`
		type blessing_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, blessing_var_lib_t, blessing_var_lib_t)
')

########################################
## <summary>
##	Manage blessing lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`blessing_manage_lib_dirs',`
	gen_require(`
		type blessing_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, blessing_var_lib_t, blessing_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a blessing environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`blessing_admin',`
	gen_require(`
		type blessing_t;
		type blessing_initrc_exec_t;
		type blessing_var_lib_t;
	')

	allow $1 blessing_t:process { ptrace signal_perms };
	ps_process_pattern($1, blessing_t)

	blessing_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 blessing_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, blessing_var_lib_t)

')

